body {
    font-family:'Roboto', sans serif;
    color:#fff;

}

/* Top bar styling */

.top-bar {
    background-color:#EF8B59;
    padding:30px;
    font-size:20px;
    color:white;

}

.fa-phone {
    color:white;
}

/* Middle section header with menu buttons */
.menu {
    text-align:center;
}

a {
       background-color: transparent;
}

a:hover {
       text-decoration: none !important;
}

ul {
    padding:40px;
    text-align:center;
    list-style-type:none;
}

.green-button {
    color:#9DB97B;
}

li {
    display:inline;
    font-weight:bold;
    font-size:20px;
    color:#EF8B59;
    padding:10px;
}

.menu-button-transition {
     transition: border-bottom ease-in-out 0.1s;
}

.menu-button-transition:hover {
    border-bottom:3px solid #EF8B59;
}

li:hover {
    color:#9DB97B;
    cursor:pointer;
}

/*Header title*/
.title {
    color:black;
    font-weight:bold;
    font-size:55px;
}

h4 {
    font-size:26px;
    line-height:32px;
    font-weight:700;
    font-family:'Source Sans Pro', sans serif;
}

h1, h2, h3, h5, h6 {
    font-weight:700;
    font-family:'Source Sans Pro', sans serif;
}

p {
    color:#515151;
    font-size:16px;
    font-weight: 500;
    line-height:28px;
}

.header-image {
    max-width:100%;
    max-height:100%;
}

/* Middle container styling*/
.middle-container {
    background-color:#BDCED3;
    margin-top:50px;
}

.container-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*.container-shadow:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}*/

.projects {
    display:block;
    background-color:white;
    border-radius:8px;
    text-align:center;
    padding:30px;
    margin:40px;
}

.image {
    max-width:100%;
    max-height:100%;
    border-radius:8px;
    cursor:pointer;
}

.image:hover {
    opacity:0.8;
}

.button {
    display:block;
    margin-top:20px;
    background-color:#9DB97B;
    border-radius:8px;
    padding:8px 20px !important;
    color:#fff;
    font-weight:600;
    border:0;
}

.button:hover {
    background-color:#698646;
}

.projects-title {
    justify-content:center;
    padding:30px;
}

.title-container {
    border-left:2px solid #9DB97B;
}

/* Furniture section styling*/


/*About us section*/
.about-us {
    background-color:#BDCED3;
}

.about-us-images {
    max-width:100%;
    max-height:100%;
    border-radius:50%;
}

.about-us-person {
    display:block;
    text-align:center;
    padding:30px;
    margin:40px;
}

.about-us-text {
    display:block;
    text-align:justify;
    padding:30px;
    margin:40px;
}

/*Contact section*/
.contact-container {
    margin-top:50px;
}

/*.contact-form-container {
    margin-left:20px;
}*/

.contact-phone {
    color:#EF8B59;
}

.contact-address {
    text-align:center;
}

.map {
    text-align:center;
    padding:10px;
}
/*Footer section*/
.footer {
    border-top:1px solid #BDCED3;
    margin-top:200px;
}

.footer-text {
    text-align:center;
}

.contact-form-container {
    padding:50px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #BDCED3/*rgba(0,0,0,0.7)*/; /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width:500px;

}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color:#f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* Button border animation*/
.geeks::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.geeks:hover::before {
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #EF8B59;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: #EF8B59;
        border-right-color: #EF8B59;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: #EF8B59;
        border-right-color: #EF8B59;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

/* End of Button border animation*/

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width:600px) {

    li {
        display:block;
    }
}